@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Roboto+Slab:wght@Sans+Pro:wght@200;400;600&display=swap');

body {
    font-family: sans-serif;
}

p {
    color: rgb(43, 41, 41);
}

header {
    font-family: ;
    display: center;
}

li,
a {
    display: inline-block;
    text-decoration: none;
    color: rgb(186, 185, 185);
}

span {
    display: inline-block;
}

h5 {
    color: rgb(206, 17, 17);
}

hr {
    color: rgb(186, 185, 185);
}

.newspaper-container {
    margin: 5em 10em 5em 10em;
    background-color: white;
    p
}

a:hover {
    text-decoration;
    underline;
}

span {
    display: inline-block;
}